<div class="container">

    <div id="cardPresentacion" class="card mt-5 mb-5">
        <div class="card-body">
          <blockquote class="blockquote">
              <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-2">
                     <img src="assets/luffy.jpg"  width="50px">
                  </div>
                  <div class="col-lg-11 col-md-11 col-sm-10">
                   <div id="textoTitulo">BIENVENIDO A LA REVISION DE CLIENTES</div>
                   <div id="textoUsuario">Adriana Rodriguez</div>
                </div>
              </div>
          </blockquote>
        </div>
      </div>

      <div class="mb-5" style="background-color: white; padding: 20px;">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="textoNombre" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">PENDIENTES</a>
          <a class="nav-item nav-link" id="textoNombre" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">YA PAGADOS</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="card mt-3">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                Brandon Jesus Moreno Rodriguez
                                <a id="botonOpciones" href="#" class="btn btn  btn-sm"><img src="assets/opc.png" width="15px"></a>
                            </div>
                        </div>

                        

                        <div class="card">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                Oscar Alfredo Medallin Santos
                                <a id="botonOpciones" href="#" class="btn btn  btn-sm"><img src="assets/opc.png" width="15px"></a>
                            </div>
                        </div>
    
        </div>




        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">     <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <div class="card mt-3">
              <div class="card-body d-flex justify-content-between align-items-center">
                  Brandon Jesus Moreno Rodriguez
                  <a id="botonOpciones" href="#" class="btn btn  btn-sm"><img src="assets/opc.png" width="15px"></a>
              </div>
          </div>

          

          <div class="card">
              <div class="card-body d-flex justify-content-between align-items-center">
                  Oscar Alfredo Medallin Santos
                  <a id="botonOpciones" href="#" class="btn btn  btn-sm"><img src="assets/opc.png" width="15px"></a>
              </div>
          </div>

</div></div>
      </div>
      </div>
  
            





</div>
