<div class="container">

    <div id="cardPresentacion" class="card mt-5">
        <div class="card-body">
          <blockquote class="blockquote">
              <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-2">
                     <img src="assets/luffy.jpg"  width="50px">
                  </div>
                  <div class="col-lg-11 col-md-11 col-sm-10">
                   <div id="textoTitulo">Bienvenido al registro de clientes.</div>
                   <div id="textoUsuario">Adriana Rodriguez</div>
                </div>
              </div>
          </blockquote>
        </div>
      </div>

      <div id="cardFormulario" class="card mt-2">
        <div class="card-body">
          <blockquote class="blockquote">
              <h5 id="titulo">Introduzca los datos del cliente en la carta porte </h5>
              <hr/>
                <!--INICIA CODIGO DE FORMULARIO-->
                <form>
                  <div class="form-row">
                    <div class="form-group col-lg-6" id="columnaIzquierda">
                      <label for="inputOrigen">ORIGEN:</label>
                      <input type="text" class="form-control" id="inputOrigen" placeholder="Origen">
                      <label for="inputOrigen">REMITENTE:</label>
                      <input type="text" class="form-control" id="inputRemitente" placeholder="Remitente">
                      <label for="inputOrigen">R.F.C:</label>
                      <input type="text" class="form-control" id="inputOrigenRFC" placeholder="R.F.C">
                      <label for="inputOrigen">DOMICILIO:</label>
                      <input type="text" class="form-control" id="inputDomicilio" placeholder="Domicilio">
                      <label for="inputOrigen">SE RECOGERA EN:</label>
                      <input type="text" class="form-control" id="inputUbicacion" placeholder="Ubicación">
                    </div>
                    <div class="form-group col-md-6" id="columnaDerecha">
                      <label for="inputPassword4">DESTINO:</label>
                      <input type="text" class="form-control" id="inputDestino" placeholder="Destino">
                      <label for="inputPassword4">DESTINATARIO:</label>
                      <input type="text" class="form-control" id="inputDestinatario" placeholder="Destinatario">
                      <label for="inputPassword4">R.F.C</label>
                      <input type="text" class="form-control" id="inputRFC2" placeholder="R.F.C">
                      <label for="inputPassword4">DOMICILIO</label>
                      <input type="text" class="form-control" id="inputDomicilio2" placeholder="Domicilio">
                      <label for="inputPassword4">SE ENTREGA EN:</label>
                      <input type="text" class="form-control" id="inputEntrega" placeholder="ENTREGA">
                    </div>
                  </div>
                </form>
               <!--TERMINA CODIGO FORMULARIO-->
          </blockquote>
        </div>
      </div>

      <div id="cardFormulario2" class="card mt-2 mb-5">
        <div class="card-body">
          <blockquote class="blockquote">
                            <!--INICIA CODIGO DE FORMULARIO-->
                            <form>
                              <div class="form-row">
                                <div class="form-group col-lg-4" id="columnaIzquierda">
                                  <label style="font-size: small; font-weight: 500;" for="input1">VALOR UNIT. CUOTA POR TONELADA O FRACCIÓN:</label>
                                  <input type="text" class="form-control" id="inputOrigen" placeholder="Ejemplo">
                                </div>
                                <div class="form-group col-lg-4" id="columnaDerecha">
                                  <label style="font-size: small; font-weight: 500;" for="input2">VALOR DECLARADO</label>
                                  <input type="text" class="form-control" id="inputDestino" placeholder="Ejemplo">
                                </div>
                                <div class="form-group col-lg-4" id="columnaDerecha">
                                  <label style="font-size: small; font-weight: 500;" for="input3">CONDICIONES DE PAGO:</label>
                                  <input type="text" class="form-control" id="inputDestino" placeholder="Ejemplo">
                                </div>
                              </div>
                              
                              <!--PRIMER FILA-->

                              <div  class="row" style="background-color: red;">
                                <div class="form-group col-lg-2">
                                  <p class="text-center " style="font-size: small; font-weight: 500;">BULTOS:</p> 
                                </div>

                                <div class="form-group col-lg-3">
                                  <p class="text-center" style="font-size: small; font-weight: 500;">EL REMITENTE DICE CONTIENEN:</p>
                                </div>

                                <div class="form-group col-lg-1">
                                  <p class="text-center" style="font-size: small; font-weight: 500;">PESO:</p>
                                </div>

                                <div class="form-group col-lg-2">
                                  <p class="text-center" style="font-size: small; font-weight: 500;">VOLUMEN:</p>
                                </div>

                                
                                <div class="form-group col-lg-3">
                                  <p class="text-center" style="font-size: small; font-weight: 500;">CONCEPTO:</p>
                                </div>

                                <div class="form-group col-lg-1">
                                  <p class="text-center" style="font-size: small; font-weight: 500;">IMPORTE:</p>
                                </div>
                              </div>
                               
                              <!--SEGUNDA FILA-->

                              <div class="row" style="border-bottom: 1px solid gray;">
                                <div class="col-1">
                                <p style="font-size: small; font-weight: 500;">No.</p>
                                </div>
                                <div class="col-1">
                                  <p style="font-size: small; font-weight: 500;">EMBALAJE1</p>
                                  </div>
                              </div>
                                
                              <!--TERCER FILA-->
                              <div class="row">
                                <div class="form-group col-lg-1">
                              
                                  <input type="text" class="form-control" id="inputOrigen" placeholder="Numero">
                                </div>
                                

                                <div class="form-group col-lg-1">
                                
                                  <input type="text" class="form-control" id="inputOrigen" placeholder="Numero">
                                </div>

                                <div class="form-group col-lg-3">
                                  <input type="text" class="form-control" id="inputOrigen" placeholder="Numero">
                                </div>

                              </div>


                            </form>
                           <!--TERMINA CODIGO FORMULARIO-->
          </blockquote>
        </div>
      </div>

</div>
