<div class="container">

    <div id="cardPresentacion" class="card mt-5">
        <div class="card-body">
          <blockquote class="blockquote">
              <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-2">
                     <img src="assets/luffy.jpg"  width="50px">
                  </div>
                  <div class="col-lg-11 col-md-11 col-sm-10">
                   <div id="textoTitulo">Bienvenido al registro de clientes.</div>
                   <div id="textoUsuario">Adriana Rodriguez</div>
                </div>
              </div>
          </blockquote>
        </div>
      </div>

      <div id="cardFormulario" class="card mt-2">
        <div class="card-body">
          <blockquote class="blockquote">
         
          </blockquote>
        </div>
      </div>

</div>
