#textoTitulo
{
    font-size: larger;
    text-transform: uppercase;
}

#textoUsuario
{
    font-size:smaller;
    color: gray;
}

#cardPresentacion
{
    box-shadow: 2px 2px 5px #999;
}

#cardFormulario
{
    box-shadow: 2px 2px 5px #999;
}

#titulo
{
    font-weight:400;
    text-transform: uppercase;
}

#textoCantidad
{
    font-weight: 400;
    font-size: large;
}
