
<div class="container">
<div class="col-5 mx-auto p-4 m-5" id="Principal">
<div class="row">
<div class="col-12">
<img style="display: block; margin: 0 auto;" src="assets/imagenUsuario.png" width="150px">
</div>  
</div>
<form [formGroup]="formularioEntrar" (ngSubmit)="entrar(formularioEntrar)" autocomplete="off" class = "mt-2">
      <div class="row">
      <label class="ml-3" for="usuario" ><strong>Usuario</strong></label>
      <div class="col-12">
        <input type="text" class="form-control" id="usuario" placeholder="Usuario" formControlName="usuario">
      </div>
      </div>
      <div class="row mt-1">
      <div class="col-12">
        <label class="ml-1" for="password" ><strong>Contraseña</strong></label>
        <input placeholder="Contraseña" type="password" id="password" class="form-control" formControlName="contrasena">
      </div>
      </div>
    <button  type="submit" class = "btn btn-primary mt-4" style="width:150px; display: block; margin: 0 auto;">Entrar</button>
</form>
</div>

