<!-- Image and text -->
<nav class="navbar navbar-expand-lg" style="background-color:white;">
  <a class="navbar-brand" (click)="navegarInicio()" style="cursor: pointer;">
    Transportes Davo
 </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link mr-5 ml-5" id="items" (click)="navegarAgregarCliente()"><img src="assets/man.png" width="35px"></a>
    <a class="nav-item nav-link ml-5 mr-5" id="items" href="#"><img src="assets/bus.png" width="35px"></a>
    <a class="nav-item nav-link ml-5 mr-5" id="items" href="#"><img src="assets/admin.png" width="35px"></a>
    <a class="nav-item nav-link ml-5 mr-5" id="items" href="#"><img src="assets/cuont.png" width="35px"></a>
  </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color:#333">
    <p style="color: white;">© 2021 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">SoftDware</a>
    </p>
  </div>
  <!-- Copyright -->
</footer>
